@charset "UTF-8";

body {
	padding-top: 67px;
	font-family: Helvetica Neue, Helvetica, Arial, -apple-system,
		BlinkMacSystemFont, sans-serif;
}

#front-page {
	color: white;
	font-family: Helvetica Neue, Helvetica, Arial, -apple-system,
		BlinkMacSystemFont, sans-serif;
	padding-top: 56px;
}

.rt-sidebar {
	color: white;
	padding-top: 56px;
	background-color: darkmagenta;
	font-family: Helvetica Neue, Helvetica, Arial, -apple-system,
		BlinkMacSystemFont, sans-serif;
}

nav {
	background-color: #ee4498;
	border-bottom: 2px solid #000;
	border-bottom-color: white;
}

aside {
	margin-right: 2rem;
	margin-left: 2rem;
	text-align: center;
}

.navbar-brand {
	font-weight: 500;
	color: white;
}

aside>h4>a:link, aside>h4>a:visited, aside>h4>a:hover, aside>h4>a:active
	{
	color: yellow !important;
	text-decoration: none !important;
}

.nav-item {
	color: white;
	font-weight: 500;
}

.left-bar {
	background-color: #ee4498;
}

#index-photo {
	transition: opacity .15s ease-in;
	vertical-align: bottom;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	height: auto;
	max-width: 100%;
}

#index-background {
	background-image: url("../images/mean-girls-4-posing.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	height: 100vh;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
	{
	background-color: #ee4498 !important;
	border-color: #ee4498 !important;
}

#admin-navbar {
		background-color: darkmagenta !important;
}

.admin{
		background-color: darkmagenta !important;
	
}

.center {
  margin: auto !important;
  width: 70% !important;
  border: 3px solid #FFFFFF !important;
  background-color: white !important;  
}

